/*
 * OFxPERA API
 * Philippines Open Finance API Implementation for PERA
 *
 * OpenAPI spec version: 0.0.5
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Error;
import io.swagger.client.model.PeraArrangement;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PeraApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public PeraApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PeraApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for getArrangementStatus
     * @param arrangementId The ID of the PERA Arrangement (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getArrangementStatusCall(String arrangementId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/ofxpera/arrangements/{arrangement_id}"
            .replaceAll("\\{" + "arrangement_id" + "\\}", apiClient.escapeString(arrangementId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getArrangementStatusValidateBeforeCall(String arrangementId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'arrangementId' is set
        if (arrangementId == null) {
            throw new ApiException("Missing the required parameter 'arrangementId' when calling getArrangementStatus(Async)");
        }
        
        com.squareup.okhttp.Call call = getArrangementStatusCall(arrangementId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get the status of a PERA arrangement
     * API that allows FIs to retrieve the status of one or more PERA Arrangements
     * @param arrangementId The ID of the PERA Arrangement (required)
     * @return PeraArrangement
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PeraArrangement getArrangementStatus(String arrangementId) throws ApiException {
        ApiResponse<PeraArrangement> resp = getArrangementStatusWithHttpInfo(arrangementId);
        return resp.getData();
    }

    /**
     * Get the status of a PERA arrangement
     * API that allows FIs to retrieve the status of one or more PERA Arrangements
     * @param arrangementId The ID of the PERA Arrangement (required)
     * @return ApiResponse&lt;PeraArrangement&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PeraArrangement> getArrangementStatusWithHttpInfo(String arrangementId) throws ApiException {
        com.squareup.okhttp.Call call = getArrangementStatusValidateBeforeCall(arrangementId, null, null);
        Type localVarReturnType = new TypeToken<PeraArrangement>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get the status of a PERA arrangement (asynchronously)
     * API that allows FIs to retrieve the status of one or more PERA Arrangements
     * @param arrangementId The ID of the PERA Arrangement (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getArrangementStatusAsync(String arrangementId, final ApiCallback<PeraArrangement> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getArrangementStatusValidateBeforeCall(arrangementId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PeraArrangement>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for peraArrangementRegistration
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call peraArrangementRegistrationCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/ofxpera/arrangements";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call peraArrangementRegistrationValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = peraArrangementRegistrationCall(progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Registers a new PERA arrangement
     * API that allows PERA Admins to register the successful creation of one or more new PERA Arrangements
     * @return PeraArrangement
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PeraArrangement peraArrangementRegistration() throws ApiException {
        ApiResponse<PeraArrangement> resp = peraArrangementRegistrationWithHttpInfo();
        return resp.getData();
    }

    /**
     * Registers a new PERA arrangement
     * API that allows PERA Admins to register the successful creation of one or more new PERA Arrangements
     * @return ApiResponse&lt;PeraArrangement&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PeraArrangement> peraArrangementRegistrationWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = peraArrangementRegistrationValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<PeraArrangement>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Registers a new PERA arrangement (asynchronously)
     * API that allows PERA Admins to register the successful creation of one or more new PERA Arrangements
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call peraArrangementRegistrationAsync(final ApiCallback<PeraArrangement> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = peraArrangementRegistrationValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PeraArrangement>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
